body{
    margin: 0;
    padding: 0;
}

/* ヘッダー */

.header{
    background: #F9F9F7;
}

.header-inner{
    display: flex;
    justify-content: space-between;

    width: 60%;
    /* 60%のままだと左によってしまうので、左右に均等なマージンをとって中央寄せ*/
    margin: 0 auto;

    /* 高さを中央寄せする*/
    align-items: center;

}

.header-menu{
    list-style-type: none;
}

.header-menu li{
    display: inline;
}

.header-logo img{
    width: 300px;
    height: auto;
}

.header-menu li a{
    text-decoration: none;
    color: #FE66C1;
    font-size: 20px;
    padding: 0 10px;
}

.key-message{
    background-image: url(../img/happy_woman_back.jpg);
    min-height: 400px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 10% 25%;
}

.key-message-text{
    /* 絶対配置にする */
    position: absolute;

    /* 女性の左に来るように */
    top: 15%;
    left: 10%;

    font-size: 46px;
    font-weight: bold;
    color: #FE66C1;
}

/* プロフィール */

.profile{
    display: flex;

    /* 線幅を80%にして、中央寄せ */
    width: 80%;
    margin: 0 auto;
}

.profile-detail{
    width: 50%;
    display: flex;
}

.profile-image{
    /* 画像を中央に表示する */
    text-align: center;
}

/* プロフィール画像をいい感じに表示する */
.profile-image img{
    width: 150px;
    height: 150px;
    /* 画像を丸抜きする */
    border-radius: 50%;
}

.profile-detail-name-and-desc{
    /* 名前・自己紹介文と画像の間に20pxの余白をもたせる */
    margin-left: 20px;
}

.profile-name{
    font-size: 24px;
    font-weight: bold;
    /* 名前と自己紹介文の間に20pxの余白をもたせる */
    margin-bottom: 20px;
}

.profile-history{
    width: 50%;
}

/* タイムラインのli要素の中にflexにすることで、日付のdiv要素と、イベント名・イベント詳細を左右に配置できる */
.profile-history ul li{
    display: flex;
}

.profile-history-timeline-date{
    /* イベントの日付は20% */
    width: 20%;

    /* 日付の文字を少し大きくして、文字をグレーにする */
    font-size: 16px;
    font-weight: bold;
    color: #707070;
}

.profile-history-timeline-content{
    /* イベントの詳細は80% */
    width: 80%;

    /* 子要素の.profile-history-timeline-contentの:beforeを早退位置表現するためにrelativeを指定する */
    position: relative;

    border-left: 4px #e5e6d1 solid;
    padding-left: 30px;
}

.profile-history-timeline-content:before{
    content: '';
    /* 20pxの正方形を作る */
    width: 20px;
    height: 20px;

    /* 20pxの正方形に色を作る */
    background: #6fc173;

    /* border-radiusを100%にして正方形を丸円にする */
    border-radius: 100%;

    /* 親要素に対して、絶対位置で一番上にもってくる */
    position: absolute;
    top: 0;
    left: -12px;
}

.profile-history-content h3{
    /* h3タグの上下にあるマージンを取る */
    margin: 0;
}

.title{
    text-align: center;
    font-size: 32px;
    color: #6fc173;

    border-bottom: 3px solid #6fc173;
}

.border{
    /* 線の幅 */
    width: 5%;

    /* 線の太さ */
    height: 5px;

    /* 線の色 */
    background: #6fc173;

    /* 線を中央に寄せる */
    margin: 0 auto;

    /* 線の下にマージンを取る */
    margin-bottom: 10px;
}

/* プログラム */

.program-image img{
    max-width: 100%;
}

.program-image{
    /* 画像部分のwidthは50% */
    width: 50%;
}

.program-text{
    /* テキスト部分のwidthは50% */
    width: 50%;

    /* 画像と接しちゃってるので、paddingを取る */
    padding-left: 20px;
}

.program-title{
    /* プログラム名は、文字サイズを大きく、太字にする */
    font-size: 24px;
    font-weight: bold;
}

.program-detail{
    /* プログラム詳細は色を少し薄く */
    color: #707070;
}

.program{
    display: flex;

    /* プログラム名と、プログラム詳細を、画像の中央に寄せて表示する */
    align-items: center;
}

.program:nth-child(even){
    /* 偶数番の要素だけ、左右反対にする */
    flex-direction: row-reverse;
}

.programs{
    width: 80%;
    margin: 0 auto;
}

/* ニュース */

.news li{
    list-style-type: none;
}

.news ul li{
    display: flex;
    border-bottom: 1px solid #d5d5d5;

    /* 上下に30px、左右に40pxの余白っを設ける */
    padding: 30px 40px;

    align-items: center;
}

.news ul li div{
    line-height: 32px;
    font-size: 18px;
    font-weight: bold;

    margin: 0 20px;
}

.news-text a,.news-date{
    /* ニュースの文章は青っぽい文字にする */
    text-decoration: none;
    color: #3264C2;
}

.news{
    width: 80%;
    margin: 0 auto;
}

.label{
    /* ラベルを丸く囲う */
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px;
}

.label-notice{
    background: #003190;
    color: #fff;
}

.label-reqruite{
    background: #E22200;
    color: #fff;
}

/* フッター */

.footer-inner{
    display: flex;

    justify-content: space-between;

    width: 80%;
    margin: 0 auto;

    padding: 30px 0;
}

.footer-content a{
    text-decoration: none;

    color: #fff;
}

.footer-content ul{
    list-style-type: none;
    padding: 0;
}

.footer-content ul li{
    padding: 5px 20px;
    position: relative;
}

.footer-content ul li::before{
    content: '';
    display: block;
    position: absolute;

    top: 10px;
    left: 2px;

    width: 0;
    height: 0;

    border-top: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 9px solid #fff;
}

.footer{
    background: #212121;
    color: #fff;
}